# Azure AD / Power BI 配置
PBI_CLIENT_ID=your_client_id
PBI_CLIENT_SECRET=your_client_secret
PBI_TENANT_ID=your_tenant_id
PBI_AUTHORITY=https://login.microsoftonline.com/
PBI_SCOPE=https://analysis.windows.net/powerbi/api/.default
